<h5>Logged in as: <%= current_user%> | <%= link_to 'Logout' ,:controller=>'users', :action=>'logout'%>
</h5>
<fieldset>
				<legend>
				New Service Request  
				</legend>


<%= error_messages_for :service_request %>

<% form_for(@service_request) do |f| %>
<table id="handling_new_table">
<tr>
			<td><b>Airline</b></td>
			<td><b>Flight type</b></td>
			<td><b>Registration</b></td>
</tr>	
  <tr> 
		   <td> <%= f.text_field :airline %></td>
			<td><%= f.select (:a_c_type, @flight_types) %></td>
			<td><%= f.text_field :registration %></td> 
  </tr>

 
 <tr>   
		 <td><b>Mtow</b></td>
		 <td> <b>Flight</b></td>
		<td><b>Passengers arriving</b></td>
	</tr>
<tr>	
		 <td> <%= f.text_field :mtow %></td>
		 <td><%= f.text_field :flight %></td>
		  <td><%= f.text_field :passengers_arriving %></td>
  </tr>

  <tr>
    
			<td><b>Passengers departing</b></td>
			<td colspan="2"><b>Route</b></td>
			
   </tr>
  <tr> 
		 <td> <%= f.text_field :passengers_departing %></td>
		 <td colspan="2">  <%= f.text_field :route, :class => "input_area" %></td>
		 
 </tr>
 <tr>
 <td>  <b>Landing</b></td>
 
 <td colspan="2"> <b>Take off</b></td>

 </tr>
 <tr>
 <td> <%= f.datetime_select :landing %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
 
 <td colspan="2">  <%= f.datetime_select :take_off %></td>
 
 </tr>
 
 
 <tr>  
			
			<td>   <b>Remarks</b></td>
			<td> <b>Number of seats</b></td>
			<td>  &nbsp;</td>
 </tr> 
<tr> 
			
			<td> <%= f.text_field :remarks %></td>
			<td><%= f.text_field :number_of_seats %></td>
			<td>  &nbsp;</td>
 </tr> 

  </table>
<%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Back', service_requests_path %>
</fieldset>